<h1>Yahoo Weather</h1>
<h1>Granada, Nic.</h1>

<div class="element">

  <div class="temperatur">

    <h5><%= @Titulo %></h5>
    <span class="w-line"></span>
    <span class="cloud"></span>
    <h2><%= @Temperatura %>
      <sup class="degree">°C</sup>
    </h2>
    <h2><%= @Condicion %></h2>

    <!-- <img src="<%= @Imagen %>" alt="" class="img-responsive"> -->
  </div>

</div>
